.git
.github
.playwright-mcp
node_modules
vendor
public/build
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
.env
.env.*
!.env.example
*.log
.DS_Store
docker-compose.yml
Lap-report-template.pdf
